html, body, ul, li {
	margin: 0 auto;
	padding: 0;
	font-family: "Lucida Grande", "Helvetica", "Verdana", sans-serif;
}
ul, li {
}
html, body {
}
html {
	background: white url('background.png');
	width: 70em;
	padding: 1em;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	html {
		font-size: 0.825em;
	}
}
@media only screen and (max-width: 1175px) {
	html {
		font-size: 0.825em;
	}
}
@media only screen and (max-width: 950px) {
	html {
		font-size: 0.75em;
	}
}
@media only screen and (min-width: 1300px) {
	html {
		font-size: 1.1em;
	}
}
body {
	font-size: 0.9em;
}
::selection {
	background: #d2d9e2; /* Safari */
}
::-moz-selection {
	background: #d2d9e2; /* Firefox */
}

#nav {
	text-align: center;
	margin: 0 auto;
	white-space:nowrap;
	border-radius: 0.75em;
	box-shadow: 0 0.25em 0.375em #000;
	table-layout: fixed;
	display: table;
	width: 75%;
	margin-bottom: 2em;
}
#nav li {
	line-height: 2.5em;
	display: table-cell;
	letter-spacing: 0.1em;
	font-size: 1.125em;
}
#nav a, #nav form {
	display: block;
	color: white;
	text-decoration: none;
	background: #800;
	background-image: -moz-linear-gradient(top, #900, #600);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#900), to(#600));
	background-image: -o-linear-gradient(top, #900, #600);
	background-image: linear-gradient(top, #900, #600);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#990000, EndColorStr=#660000, GradientType=0);
	border: 0.075em solid #a00;
	border-bottom: 0.075em solid #600;
	border-right: 0.075em solid #600;
	text-shadow: #000 0 0.1em 0.1875em;
	box-shadow:inset 0 0 0.1em #700;
}
#nav > *:first-child {
	border-left: none;
}
#nav > *:first-child a, #nav > *:first-child form {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
#nav > *:last-child a, #nav > *:last-child form {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
#nav input {
	width: 100%;
	height: 100%;
}
#nav form {
	padding: 0 0.5em;
}
#nav a:hover, #nav a:active {
	background: #500;
	background-image: -moz-linear-gradient(top, #600, #400);
   background-image: -webkit-gradient(linear, left top, left bottom, from(#600), to(#400));
	background-image: -o-linear-gradient(top, #600, #400);
	background-image: linear-gradient(top, #600, #400);
   filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#660000, EndColorStr=#440000, GradientType=0);
	border-color: #500;
	box-shadow:inset 0 0 0.625em #700;
}
#nav a:active {
	box-shadow:inset 0 0 0.625em #400;
}


#static div{
	width:49%;
}

#static div:nth-child(odd){
	float:left;
	clear:left;
}

#static div:nth-child(even){
	float:right;
	clear:right;
}

#static:after{
	content:" ";
	display:block;
	clear:both;
}

#static div p
{
	text-align:justify;
}



.box {
	background: #f6f6f6;
	background: -moz-linear-gradient(top, #fefefe, #efefef);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#efefef));
	background-image: -o-linear-gradient(top, #fefefe, #efefef);
	background-image: linear-gradient(top, #fefefe, #efefef);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fefefe, EndColorStr=#efefef, GradientType=0);
	border-radius: 0.5em;
	border-top: 0.1em solid white;
	border-bottom: 0.1em solid gray;
	box-shadow: 0 0.125em 0.25em 0em gray;
	padding: 1em;
	margin: 0;
	margin-top: 1em;
	clear: both;
}
.box:after {
	content: " ";
	clear: left;
}
.box h1 {
	color: #888;
	text-shadow: #fff 0.075em 0.075em 0;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
ul.box {
	display: table;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}
ul.box li {
	display: table-cell;
	border-right: 0.1em solid #ddd;
	height: 11em;
	overflow: hidden;
	margin: 0;
	padding: 1em;
	list-style: none;
}
ul.box li:last-child {
	float: none;
}
ul.box img {
	float: left;
	max-height: 2em;
}
ul.box img.side {
	float: right;
	width: 40%;
	margin-left: 1em;
	max-height: none;
}
ul.box.col2 li{
	width: 36em;
}
ul.box.col3 li {
	width: 24em;
}
ul.box.col4 li {
	width: 18em;
}
ul.box li:last-child {
	border-right: none;
}

p {
	text-align: left;
}
input {
	font-size: 1em;
}
a {
	color: #a00;
}
a:active {
	color: #c00;
}
hr {
	clear: both;
	border: none;
}

#footer {
	font-size: 0.75em;
	text-align: center;
	margin-top: 5em;
	border: 0.125em #ddd;
	padding: 0.75em 0;
	border-style: solid none;
}
#footer span {
	margin: 0 2em;
	white-space: nowrap;
}


/* Copro stuff */

/*
.copro:nth-child(n), .copro ul a:nth-child(n), .copro p.pic:nth-child(n) {
	-webkit-transform:rotate(-.5deg);
	-moz-transform:rotate(-.5deg);
	-o-transform:rotate(-.5deg);
	-ms-transform:rotate(-.5deg);
}
.copro:nth-child(n+1), .copro ul a:nth-child(n+1), .copro p.pic:nth-child(n+1) {
	-webkit-transform:rotate(.25deg);
	-moz-transform:rotate(.25deg);
	-o-transform:rotate(.25deg);
	-ms-transform:rotate(.25deg);
}
.copro:nth-child(n+2), .copro ul a:nth-child(n+2), .copro p.pic:nth-child(n+2) {
	-webkit-transform:rotate(1deg);
	-moz-transform:rotate(1deg);
	-o-transform:rotate(1deg);
	-ms-transform:rotate(1deg);
}
.copro:nth-child(n+4), .copro ul a:nth-child(n+3), .copro p.pic:nth-child(n+3) {
	-webkit-transform:rotate(-.75deg);
	-moz-transform:rotate(-.75deg);
	-o-transform:rotate(-.75deg);
	-ms-transform:rotate(-.75deg);
}
*/
.copro {
	list-style: none;
	width: 22.5em;
	height: 13.875em;
	float: left;

/*
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	*/

	background: #fafafa url('watermark.png');
	background-size: 15em 15em;
	background-repeat: no-repeat;
	background-position: 140% 200%;
  
	border-top: 0.1em solid white;
	border-bottom: 0.1em solid gray;
	box-shadow: 0 0.125em 0.25em 0em gray;
	padding: 1em;
	margin: 0 0.7em 2em 0.7em;
}
.copro.board {
	border-radius: 1em;
	background: #a00 url('boardwatermark.png');
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	color: #fff;
}
.copro h3, .copro p {
	position: relative;
	bottom: -10.5em;
	width: 9em;
	height: 2em;
	font-size: 1em;
	text-align: center;
	font-family: "Bradley Hand ITC", "Bradley Hand ITC TT", "Chalkduster", sans-serif;
	color: #24a;
	z-index: 1;
}
.copro.board h3 {
	color: #fff;
	font-family: "Courier New", monospace;
}
.copro.board p.board {
	left: 0;
	width: 15em;
	text-align: right;
	bottom: -5.5em;
	color: #fff;
	font-family: "Eras", "Lucida Grande", "Helvetica", "Arial", sans-serif;
	font-size: 1.5em;
	cursor: default;
	z-index: 0;
}
.copro p.pic {
	bottom: 0;
	box-shadow: .1em .1em .25em rgba(0,0,0,.66);
	width: 9em;
	height: 11em;
	padding: 0;
	margin: 0;
	margin-top: -4em;
	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.copro.board p.pic {
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	
	border-radius: 0.5em;
	box-shadow: inset .05em .1em .25em rgba(0,0,0,.66);
	bottom: 5em;
}
.copro img {
	position: relative;
	width: 9em;
	max-height: 11em;
}
.copro ul:before {
	font-family: "Courier New", monospace;
	content: "Is a member of:";
}
.copro.board ul:before {
	content: "";
}
.copro ul {
	display: block;
	margin-left: 10em;
	margin-top: -11em;
	list-style: none;
}
.copro.board ul {
	margin-left: 10em;
	margin-top: -16.5em;
}
.copro ul li {
	border-bottom: 0.1em solid #aaa;
}
.copro.board ul li {
	border: none;
}
.copro ul li a {
	font-family: "Bradley Hand ITC", "Bradley Hand ITC TT", "Chalkduster", sans-serif;
	text-decoration: none;
	color: #24a;
}
.copro.board ul li a {
	font-family: "Courier New", monospace;
	color: #fff;
}


#producttree
{
	float: left;
	width: 300px;
}	

	#producttree span
	{
		z-index: 9999;
	}

	#producttree span
	{
		cursor: pointer;
		padding: 7px;
		list-style: none;
		overflow: hidden;
		display: block;
	}
	
		#producttree span:hover
		{
			background: #fff;
		}
	
		#producttree li > ul.contents
		{
			display: none;
		}
		
		#producttree li.expanded > ul.contents
		{
			display: block;
		}
